html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --bg: #21c08b;
    --bg-registro: linear-gradient(#5DB6EA, #2C3459);
    --bg-login: linear-gradient(rgb(0, 45, 53), rgb(0, 8, 41));
    --bg-aclarador: rgba(255, 255, 255, 0.1);
    --fuente: 'Muli', sans-serif;
    --fuente2: 'Raleway', sans-serif;
    --fuente3: 'Teko', sans-serif;
}

body {
    font-family: var(--fuente2);
    background: var(--bg-login);
    background-size: 100vh;
}

body.registro {
    background: var(--bg-registro);
}

ul {
    list-style: none;
}

a, p, label, h2, ::placeholder {
    text-decoration: none;
    color: white;
    font-family: var(--fuente2);
}

.texto_terciario {
    font-size: 14px;
}

.pointer {
    cursor: pointer;
}

/* ------------------------------------- */

/*** Scroll ***/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}

/* --------------Header------------ */

header {
    padding: 20px;
    height: 110px;
}

img {
    max-width: 200px;
}

h1 {
    color: white;
    font-family: var(--fuente2);
    font-size: 50px;
    margin: 0;
    font-weight: lighter;
}

/* --------------buscador-------------------------- */

.buscador {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.buscador h2 {
    margin: 30px 0;
    padding: 0;
}

.buscador input {
    background-color: var(--bg-aclarador);
    border: 2px solid white;
    border-radius: 25px;
    height: 50px;
    width: 32%;
    text-align: center;
    color: white;
    font-size: 25px;
}

/* --------------carrusel-------------------------- */

.carrusel {
    width: 100%;
    overflow-x: scroll;
    padding: 30px;
    position: relative;
}

.carrusel--contenedor {
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
}

.carrusel__titulo {
    font-size: 28px;
    font-weight: bolder;
    color: white;
    padding: 0 40px;
}

.carrusel-item {
    width: 200px;
    height: 250px;
    border-radius: 25px;
    background-color: yellow;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;
    transform-origin: center left;
    position: relative;
}

.carrusel-item:hover~.carrusel-item {
    transform: translate3d(100px, 0, 0);
}

.carrusel--contenedor:hover .carrusel-item {
    opacity: 0.3;
}

.carrusel--contenedor:hover .carrusel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carrusel-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item__detalles {
    background: linear-gradient(to top, rgba( 0, 0, 0, 0.9) 0%, rgba( 0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

@media only screen and (max-width: 768px) {
    .carrusel-item__detalles {
        opacity: 1;
    }
}

.carrusel-item__detalles:hover, .carrusel-item:hover {
    opacity: 1;
}

.carrusel-item__detalles--botones img {
    width: 20%;
}

.carrusel-item__detalles--titulo {
    font-size: 16px;
}

.carrusel-item__detalles--titulo, 
.carrusel-item__detalles--subtitulo {
    margin: 3px;
    font-family: var(--fuente);
}

/* --------------section-login-registro------------ */

.section--login {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login {
    border: 2px solid white;
    border-radius: 25px;
    background-color: var(--bg-aclarador);
    width: 400px;
}

@media only screen and (max-width: 480px) {
    .login {
        border: 0;
        background-color: unset;
    }
}

.login--contenedor {
    margin: 55px;
}

@media only screen and (max-width: 480px) {
    .login--contenedor {
        margin: 30px;
    }
}

h2 {
    color: white;
    margin: 0;
    font-size: 20px;
    padding: 60px 0;
}

@media only screen and (max-width: 480px) {
    h2 {
        font-size: 20px;
        padding: 30px 0;
    }
}

.login__form--correo, .login__form--contra, .login__form--nombre {
    display: block;
    width: 100%;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    padding: 10px 0;
    margin: 25px 0;
    background-color: transparent;
}

.login__form--correo, .login__form--nombre, .login__form--contra::placeholder {
    color: white;
    font-weight: bold;
}

.login__form--boton {
    width: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    border-radius: 25px;
    padding: 15px 0;
    color: white;
    margin: 26px 0;
}

.login__opciones--contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.login__opciones--label {
    display: flex;
    align-items: center;
}

.login__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 60px 0;
    padding: 0;
}

.login__ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login__ul span {
    font-weight: bold;
}

.login__p--a {
    font-weight: bold;
    font-size: 16px;
}

/* --------------footer------------ */

footer {
    width: 100%;
    height: 110px;
    margin: 40px 0 0 0;
}

footer ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0;
}

@media only screen and (max-width: 480px) {
    footer ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    footer ul li {
        margin: 10px 0;
    }
}

footer ul li {
    font-weight: bold;
    padding: 0 20px;
}